<mat-toolbar>
    <mat-toolbar-row>
        <a mat-button [routerLink]="''"><h1 class="logo">TEAM 2 </h1></a>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/maps'"> Map </a>
            <a mat-button [routerLink]="'/notifications'"> Notifications </a>
        </div>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/register'">Sign up</a>
            <a mat-button [routerLink]="'/login'">Sign in</a>        
        </div>
    </mat-toolbar-row>
</mat-toolbar>