.main {
    width: 70%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 8em;
}

table {
    width: 100%;
}

.new-ch {
    padding-bottom: 2rem;
    text-align: right;
    padding-right: 1.5rem;
}