<div class="main">
    <div class="new-ch">
        <button mat-raised-button color="primary" [routerLink]="['/new-ch']">Add new</button>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Subtype Column -->
            <ng-container matColumnDef="subtypeName">
                <th mat-header-cell *matHeaderCellDef> Subtype Name </th>
                <td mat-cell *matCellDef="let element"> {{element.subtypeName}} </td>
            </ng-container>

            <!-- Total rating column -->
            <ng-container matColumnDef="totalRatings">
                <th mat-header-cell *matHeaderCellDef> Total Ratings </th>
                <td mat-cell *matCellDef="let element"> {{element.totalRatings}} </td>
            </ng-container>

            <!-- Actions column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="padding-left: 4rem;"> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn">Delete</button>
                    <button mat-button routerLink="['/update-ch', 1]">Edit</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
        </mat-paginator>
    </div>
</div>