<div id="map-wrapper">
  <mgl-map
  [zoom]="zoom"
  [center]="center"
  [renderWorldCopies]="false"
  [maxBounds]="maxBounds"
  [style] = "style"
  (mapLoad) = "onMapLoad($event)"
  (click)="getCoordinates($event)"
  >

    <mgl-control
    mglGeocoder
    ></mgl-control>
    
  </mgl-map>

  <div class="button-group"> 

    <a class="button" mat-button
    (click)="isPreviousButtonDisabled ? null : getPreviousPage()"
    [disabled]="isPreviousButtonDisabled"
    [ngClass]="{'button-disabled': isPreviousButtonDisabled}">
      <i class="material-icons">navigate_before</i>
    </a>

    <a class="button" mat-button
    (click)="isNextButtonDisabled ? null : getNextPage()"
    [disabled]="isNextButtonDisabled"
    [ngClass]="{'button-disabled': isNextButtonDisabled}">
      <i class="material-icons">navigate_next</i>
    </a>
  </div>

</div>