mgl-map {
  height: 90%;
  width: 100%;
}
#map-wrapper{
  width: 100%;
  height: calc(100vh - 64px);
  position:relative;
}

.button{
  position:relative;
  color:darkslategray;
}
.button-group{
  position:absolute;
  top:5px;
  left:5px;
  background-color: rgba(119, 171, 240, 0.507);
  border-radius: 5px;
}
.button-disabled{
  background-color: rgba(230, 234, 236, 0.781);
}

@keyframes dropMarker {
  0%{ top: -30px}
  50%{ top: 0px}
  75%{ top: -8px}
  100%{ top: 0px}
}