.root {
    width: 100%;
}
mat-card, mat-expansion-panel {
    background-color: #404040;
}
mat-card * {
    color: white;
}
mat-card img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    margin: 2px;
}
.rate-section {
    position: relative;
    width: 30%;
    height: 10%;
    padding: 3px;
}
i.icon-yellow {
    color: yellow;
}
.rate {
    font-size: large;
    font-weight: 600;
}
.max-rate {
    font-size: small;
    position: absolute;
    bottom: 0;
}
.close-icon {
    top: 2px;
    position: absolute;
    right : 2px;
}