ul {
    width: 100%;
    padding-left: 0;
    margin: 0;
}
li {
    list-style-type: none;
    width: 100%;
    overflow: hidden; 
    padding-left:0;
    padding-bottom: 20px;
    margin: 0px;
}
 li i {
    float:left;
    width: 10%;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 0;
}
mat-card {
    float: right;
    width: 75%;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
}
.author {
    display: inline-block;
    top:0;
    position: absolute;
    margin: 2px;
    font-weight: 400;
    color: #9a3;
}
 
mat-card:after {
    content: " ";
    position: absolute;
    left: -10px;
    top: 15px;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-left: none;
    border-bottom: 10px solid transparent;
}