<h2 mat-dialog-title>Edit type</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input 
      id="editTypeInput"
      matInput 
      [(ngModel)]="changedName"
      >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button 
    id="saveChangesTypeBtn"
    mat-button 
    [mat-dialog-close]="true" 
    mat-raised-button color="warn"
    [mat-dialog-close]="changedName"
    >
    Save
  </button>
</mat-dialog-actions>