<div class="main">
    <div>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput class="name-input" [(ngModel)]="name">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 1rem;">
                    <button type="button" class="btn btn-outline-dark" (click)="addType()"
                        [disabled]="name === ''">Post</button>
                </td>
            </tr>
            <p *ngIf="nameValid == false" style="color: red;">Name cannot be same</p>
            <p *ngIf="nameValid == false" style="color: red;">Taken names are: {{takenNames}}</p>
        </table>
    </div>

</div>