<div class="main">
    <div>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input id="subtype name" matInput class="name-input" [(ngModel)]="subtype.name">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 1rem;">
                    <button id="post-subtype-btn"
                    type="button" class="btn btn-outline-dark" (click)="add()"
                        [disabled]="!subtype.name">Post Subtype</button>
                </td>
            </tr>
            <p *ngIf="nameValid == false" style="color: rgb(175, 11, 11);">Name cannot be same</p>
            <p *ngIf="nameValid == false" style="color: rgb(175, 13, 13);">Taken names are: {{takenNames}}</p>
        </table>
    </div>

</div>